<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287204114808-6bnc8lngn1fqia30am7d2877524cq45e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287204114808-6bnc8lngn1fqia30am7d2877524cq45e</string>
	<key>API_KEY</key>
	<string>AIzaSyAe6a2l7bP1z8ynCdtrWnWGSS8Amnlnai4</string>
	<key>GCM_SENDER_ID</key>
	<string>287204114808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifgabsp.projectGet</string>
	<key>PROJECT_ID</key>
	<string>fir-21312027</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-21312027.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287204114808:ios:342d6d6b08ced32b19c88d</string>
</dict>
</plist>